<!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<title></title>
 	</head>
 	<body>
 		<h1>Mysterious Mystery Word Game!</h1>
 		<form action='/game' method='get' id='start'>
      <button type='submit'>Start Game</button>
 	<script type="text/javascript" src="/index.js"></script>
 	</body>
 </html>
